{{#each customerOrder}}
<tr>
    <td>{{sum @index 1}}</td>
    <td class="text-center">{{convertDate (convertDateTime this.date_created)}}</td>
    <td class="text-center">{{this.customer_given}} $</td>
    <td class="text-center">{{this.total_amount}} $</td>
    <td class="text-center">{{this.change_given}} $</td>
    {{!-- <td class="text-center">{{total_quantity}}</td> --}}
    <td class="text-center">
        <div class="dropdown">
            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu" style="z-index:99;">
                <button data-bs-toggle="modal" data-bs-target="#backDropModal_view-order-details"
                    data-order_id="{{this.order_id}}" class="dropdown-item btn-show-order-details">
                    <i class='bx bx-cart-alt'></i> View</button>
            </div>
        </div>
    </td>
</tr>
{{/each}}
