<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Order Settings /</span> Report and Statistic
    </h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link" href="/customer">
                        <i class='bx bx-body me-1'></i>
                        Manage Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">
                        <i class='bx bx-store me-1'></i>
                        </i> Manage Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <i class='bx bx-pie-chart-alt-2 me-1'></i>
                        Report And Statistic</a>
                </li>

            </ul>

            <div class="row" id="report__payment-info">
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/img/icons/unicons/chart-success.png" alt="chart success"
                                        class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Profit</span>
                            <h3 class="card-title mb-2">${{totalProfit}}</h3>
                            {{!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>
                                +72.80%</small> --}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Sales</span>
                            <h3 class="card-title text-nowrap mb-2">${{totalAmount}}</h3>
                            {{!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>
                                +28.42%</small> --}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="cardOpt4" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="d-block mb-1">Payments</span>
                            <h3 class="card-title text-nowrap mb-2">{{totalOrder}}</h3>
                            {{!-- <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i>
                                -14.82%</small> --}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Product</span>
                            <h3 class="card-title mb-2">{{totalProductQuantity}}</h3>
                            {{!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>
                                +28.14%</small> --}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-end mb-3">
                <div class="w-25">
                    <div class="mb-3 row">
                        <label for="html5-date-input" class="col-md-2 col-form-label">from</label>
                        <div class="col-md-10">
                            <input class="form-control" type="date" value="2024-06-18" id="report__date-from" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="html5-date-input" class="col-md-2 col-form-label">to</label>
                        <div class="col-md-10">
                            <input class="form-control" type="date" value="2024-06-18" id="report__date-to" />
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end">
                        <button type="submit" id="btn__filter-date" class="btn btn-primary">FIND</button>
                    </div>
                </div>
            </div>

            <div id="report__order-card" class="card">
                <div class="user-management d-flex flex-wrap justify-content-between align-items-center">
                    <h5 class="card-header">Report and Statistic</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date created</th>
                                    <th>Customer name</th>
                                    <th>User creator</th>
                                    <th>Total amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderList}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>{{convertDateTimeVersion2 this.date_created}}</td>
                                    <td>{{this.customer_db.customer_first_name}} {{this.customer_db.customer_last_name}}
                                    </td>
                                    <td>{{this.user_db.user_first_name}} {{this.user_db.user_last_name}}</td>
                                    <td>{{this.total_amount}} $</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu" style="z-index:99;">
                                                <button data-bs-toggle="modal"
                                                    data-bs-target="#backDropModal_view-order"
                                                    data-order_id="{{this.order_id}}"
                                                    class="dropdown-item btn-show-views">
                                                    <i class='bx bx-cart-alt'></i> View</button>
                                                <button data-bs-toggle="modal"
                                                    data-bs-target="#backDropModal_edit-product" {{!--
                                                    data-customer_id="{{this.customer_id}}"
                                                    data-customer_name="{{this.customer_first_name}} {{this.customer_last_name}}"
                                                    data-customer_email="{{this.customer_email}}"
                                                    data-customer_phone_number="{{this.customer_phone_number}}"
                                                    data-customer_point="{{this.customer_point}}"
                                                    data-customer_address="{{this.customer_address}}" --}}
                                                    class="dropdown-item btn-show-details"><i
                                                        class="bx bx-edit-alt me-1"></i> Download</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <nav aria-label="Page navigation" style="margin-right: 23px">
                    <ul class="pagination justify-content-end">
                        <li class="page-item prev">
                            <a class="page-link"
                                href="/report/{{#if (equal (minus currentPage 1) 0)}}1{{else}}{{minus currentPage 1}}{{/if}}"><i
                                    class="tf-icon bx bx-chevrons-left"></i></a>
                        </li>
                        {{#each totalPages}} {{!-- get parent scope because we are in the loop --}}
                        <li class="page-item {{#if (equal ../currentPage this) }}active{{/if}}">
                            <a class="page-link" href="/report/{{this}}">{{this}}</a>
                        </li>
                        {{/each}}
                        <li class="page-item next">
                            <a class="page-link"
                                href="/report/{{#if (moreOrEqualThan (sum currentPage 1) (getArrayLength totalPages) ) }}{{getArrayLength totalPages}}{{else}}{{sum currentPage 1}}{{/if}}"><i
                                    class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>
    </div>
</div>

<!-- Modal Backdrop -->


<!-- Modal add -->
<div class="modal fade" id="backDropModal_add-product" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" onsubmit="return false">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="name_add" class="form-label">Product Name</label>
                        <input type="text" name="name_add" id="name_add" class="form-control"
                            placeholder="Enter product name" />
                    </div>
                    {{!-- <div class="col mb-3">
                        <label for="lastNameBackdrop" class="form-label">Last Name</label>
                        <input type="text" name="lastname_add" id="lastNameBackdrop" class="form-control"
                            placeholder="Enter last name" />
                    </div> --}}
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="import_price_add" class="form-label">Import Price</label>
                        <input type="text" name="import_price_add" id="import_price_add" class="form-control"
                            placeholder="Enter import price" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="retail_add" class="form-label">Retail Price</label>
                        <input type="text" name="retail_add" id="retail_add" class="form-control"
                            placeholder="Enter retail price" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="category_add" class="form-label">Category</label>
                        <select id="category_add" class="select form-select" name="category_add">
                            <option value="">Select category</option>
                            {{#each categoryList}}
                            <option value="{{this.category_id}}">{{this.category_name}}</option>
                            {{!-- <option value="Female">Female</option> --}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="quantity_add" class="form-label">Quantity</label>
                        <input type="text" name="quantity_add" id="quantity_add" class="form-control"
                            placeholder="Enter quantity" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="img_add" class="form-label">Product Image</label>
                        {{!-- <input type="text" name="address_name" id="addressBackdrop" class="form-control"
                            placeholder="Enter address" /> --}}
                        <div class="input-group">
                            <input type="file" class="form-control" id="img_add" name="img_add"
                                accept="image/png, image/jpeg" />
                            <label class="input-group-text" for="img_add">Upload</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="description_add" class="form-label">Description</label>
                        {{!-- <input type="text" name="address_name" id="addressBackdrop" class="form-control"
                            placeholder="Enter address" /> --}}
                        <div class="input-group input-group-merge speech-to-text">
                            <textarea id="description_add" name="description_add" class="form-control"
                                placeholder="Say or text it" rows="2"></textarea>
                            <span class="input-group-text">
                                <i class="bx bx-microphone cursor-pointer text-to-speech-toggle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert text-center m-auto d-none" style="width: 90%;" id="add-product__status" role="alert">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" id="btn_add" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="backDropModal_edit-product" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" onsubmit="return false">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="product_id_edit" id="product_id_edit">
                <input type="hidden" name="product_img_edit" id="product_img_edit">
                <input type="hidden" name="public_id_edit" id="public_id_edit">
                <div class="row">
                    <div class="col mb-3">
                        <label for="name_edit" class="form-label">Product Name</label>
                        <input type="text" name="name_edit" id="name_edit" class="form-control"
                            placeholder="Enter product name" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="import_price_edit" class="form-label">Import Price</label>
                        <input type="text" name="import_price_edit" id="import_price_edit" class="form-control"
                            placeholder="Enter import price" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="retail_edit" class="form-label">Retail Price</label>
                        <input type="text" name="retail_edit" id="retail_edit" class="form-control"
                            placeholder="Enter retail price" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="category_edit" class="form-label">Category</label>
                        <select id="category_edit" class="select form-select" name="category_edit">
                            <option value="">Select category</option>
                            {{#each categoryList}}
                            <option value="{{this.category_id}}">{{this.category_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="quantity_edit" class="form-label">Quantity</label>
                        <input type="text" name="quantity_edit" id="quantity_edit" class="form-control"
                            placeholder="Enter quantity" />
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="img_edit" class="form-label">Product Image (Optional)</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="img_edit" name="img_edit"
                                accept="image/png, image/jpeg" />
                            <label class="input-group-text" for="img_edit">Upload</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="description_edit" class="form-label">Description</label>
                        {{!-- <input type="text" name="address_name" id="addressBackdrop" class="form-control"
                            placeholder="Enter address" /> --}}
                        <div class="input-group input-group-merge speech-to-text">
                            <textarea id="description_edit" name="description_edit" class="form-control"
                                placeholder="Say or text it" rows="2"></textarea>
                            <span class="input-group-text">
                                <i class="bx bx-microphone cursor-pointer text-to-speech-toggle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert text-center m-auto d-none" style="width: 90%;" id="edit-product__status" role="alert">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" id="btn_edit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal view order details -->
<div class="modal fade" id="backDropModal_view-order" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <form class="modal-content" onsubmit="return false">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Product name</th>
                                    <th class="text-center">Category</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Retail price</th>
                                    <th class="text-center">Total amount</th>
                                </tr>
                            </thead>
                            <tbody id="order-details__tbody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="alert text-center m-auto d-none" style="width: 90%;" id="delete-product__status" role="alert">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                {{!-- <button type="button" id="btn_delete" class="btn btn-primary">Save</button> --}}
            </div>
        </form>
    </div>
</div>

<script>
    jsInReport()
</script>