<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Account Settings /</span> Manage Account
    </h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile"><i class="bx bx-user me-1"></i>
                        Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bxs-cog me-1"></i>
                        Manage Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user"> <i class="bx bx-group me-1">
                        </i> Manage User</a>
                </li>
            </ul>

            <div class="card">
                <div class="user-management d-flex flex-wrap justify-content-between align-items-center">
                    <h5 class="card-header">Account Management</h5>
                    {{!-- <div class="btn__add-user p-4">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#backDropModal_add-user"
                            type="submit"><i class='bx bx-user-plus'></i> Add User</button>
                    </div> --}}
                </div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th class="text-center">Admin</th>
                                    <th class="text-center">Staff</th>
                                    <th class="text-center">Lock</th>
                                    <th class="text-center">Reset Password</th>
                                    <th class="text-center">Send Mail</th>
                                    <th class="text-center">Settings</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each accountList}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>
                                        <ul
                                            class="list-unstyled d-flex users-list m-0 avatar-group d-flex align-items-center">
                                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                data-bs-placement="top" class="avatar avatar-xs pull-up"
                                                style="margin-right: 5px;"
                                                title="{{this.user_db.user_first_name}} {{this.user_db.user_last_name}}">
                                                <img src="{{this.user_db.user_img}}" style="object-fit:cover"
                                                    alt="Avatar" class="rounded-circle" />
                                            </li>
                                            <strong>{{this.user_db.user_first_name}}
                                                {{this.user_db.user_last_name}}</strong>
                                        </ul>
                                    </td>
                                    <td class="text-center">
                                        {{#if (equal this.role_id 1) }}
                                        <span class="badge badge-center rounded-pill bg-success p-3">
                                            <i class='bx bx-check'></i>
                                        </span>
                                        {{/if}}
                                    </td>
                                    <td class="text-center">
                                        {{#if (equal this.role_id 2) }}
                                        <span class="badge badge-center rounded-pill bg-success p-3">
                                            <i class='bx bx-check'></i>
                                        </span>
                                        {{/if}}
                                    </td>
                                    <td class="text-center">
                                        {{#if (equal this.role_id 3) }}
                                        <span class="badge badge-center rounded-pill bg-success p-3">
                                            <i class='bx bx-check'></i>
                                        </span>
                                        {{/if}}
                                    </td>
                                    <td class="text-center">
                                        <span data-bs-toggle="modal" data-bs-target="#backDropModal_reset-pwd"
                                            data-account_id="{{this.account_id}}"
                                            data-user_email="{{this.user_db.user_email}}"
                                            data-user_name="{{this.user_db.user_first_name}} {{this.user_db.user_last_name}}"
                                            class="badge badge-center rounded-pill bg-primary p-3 cursor-pointer btn-show-reset">
                                            <i class='bx bxs-key'></i>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span data-bs-toggle="modal" data-bs-target="#backDropModal_send-mail"
                                            data-account_id="{{this.account_id}}"
                                            data-user_email="{{this.user_db.user_email}}"
                                            data-user_name="{{this.user_db.user_first_name}} {{this.user_db.user_last_name}}"
                                            class="badge badge-center rounded-pill bg-primary p-3 cursor-pointer btn-show-send-mail">
                                            <i class='bx bxs-envelope'></i>
                                        </span>
                                    </td>
                                    {{!-- <td>
                                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                data-bs-placement="top" class="avatar avatar-xs pull-up"
                                                title="Lilian Fuller">
                                                <img src="/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                            </li>
                                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                data-bs-placement="top" class="avatar avatar-xs pull-up"
                                                title="Sophia Wilkerson">
                                                <img src="/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                                            </li>
                                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                data-bs-placement="top" class="avatar avatar-xs pull-up"
                                                title="Christina Parker">
                                                <img src="/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                                            </li>
                                        </ul>
                                    </td> --}}
                                    {{!-- <td><span class="badge bg-label-primary me-1">Active</span></td> --}}
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu" style="z-index: 99;">
                                                <a href="/account/change_role/{{this.account_id}}/1"
                                                    data-account_id="{{this.account_id}}" data-role_id="1"
                                                    class="dropdown-item btn-show-details {{#if (equal this.role_id 1) }}active{{/if}}"><i
                                                        class="bx bx-user me-1"></i>Admin</a>
                                                <a href="/account/change_role/{{this.account_id}}/2"
                                                    data-account_id="{{this.account_id}}" data-role_id="2"
                                                    class="dropdown-item btn-show-delete {{#if (equal this.role_id 2) }}active{{/if}}"><i
                                                        class="bx bx-group me-1"></i>Staff</a>
                                                <a href="/account/change_role/{{this.account_id}}/3"
                                                    data-account_id="{{this.account_id}}" data-role_id="3"
                                                    class="dropdown-item btn-show-delete {{#if (equal this.role_id 3) }}active{{/if}}">
                                                    <i class='bx bx-lock-alt me-1'></i>Lock</a>
                                                {{!-- <i class="bx bx-trash me-1"></i> --}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <nav aria-label="Page navigation" style="margin-right: 23px">
                    <ul class="pagination justify-content-end">
                        <li class="page-item prev">
                            <a class="page-link"
                                href="/account/{{#if (equal (minus currentPage 1) 0)}}1{{else}}{{minus currentPage 1}}{{/if}}"><i
                                    class="tf-icon bx bx-chevrons-left"></i></a>
                        </li>
                        {{#each totalPages}} {{!-- get parent scope because we are in the loop --}}
                        <li class="page-item {{#if (equal ../currentPage this) }}active{{/if}}">
                            <a class="page-link" href="/account/{{this}}">{{this}}</a>
                        </li>
                        {{!-- <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">2</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">5</a>
                        </li> --}}
                        {{/each}}
                        <li class="page-item next">
                            <a class="page-link"
                                href="/account/{{#if (moreOrEqualThan (sum currentPage 1) (getArrayLength totalPages) ) }}{{getArrayLength totalPages}}{{else}}{{sum currentPage 1}}{{/if}}"><i
                                    class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->

<!-- Modal reset pwd -->
<div class="modal fade" id="backDropModal_reset-pwd" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" onsubmit="return false">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Reset Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="account_id_reset" id="account_id_reset">
                <input type="hidden" name="email_reset" id="email_reset">
                <p class="account-reset__para mb-0"></p>
            </div>

            <div class="alert text-center m-auto d-none" style="width: 90%;" id="reset-user__status" role="alert">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" id="btn_reset" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal send mail -->
<div class="modal fade" id="backDropModal_send-mail" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" onsubmit="return false">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Send Mail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="account_id_send" id="account_id_send">
                <input type="hidden" name="email_send" id="email_send">

                <p class="account-send-mail__para mb-0"></p>
            </div>

            <div class="alert text-center m-auto d-none" style="width: 90%;" id="send-user__status" role="alert">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" id="btn_send" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    jsInAccount();
</script>